#table1 {
    border: 2px solid; background-color: rgb(255, 255, 255);
  }
  
  th,
  td {
    border: 1px solid rgb(0, 0, 0);
  }
  .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .styled:hover {
    background-color: rgba(255, 0, 0, 1);
  }
  
  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
 .list1 {
    border: 2px rgb(0, 0, 0) solid;
    background-color: rgb(197, 197, 203); 
    padding: 25px;
    list-style-type: upper-roman;
    width: 15%;
 }
h1 {
    color: blue;
    border: solid black;
    width: 39%;
}
p {
    color: rgb(170, 7, 148);
    font-size: x-large
}
img {
    border: 2px solid black;
}
h3 {
    color: rgb(241, 6, 183);
    size: 100pt;    
}
caption {
    color: blue;
}
